<?xml version="1.0"?>
<launch>
	<group>
    <!-- <machine name="localmachine" address="127.0.0.103" default="true"/> -->

	  <include file="$(find simulation_supervised)/launch/load_params.launch"/>
	  <include file="$(find simulation_supervised_demo)/launch/canyon.launch">
	  	<arg name="gui" value="true"/>
	  </include>
	</group>
</launch>
