<?xml version="1.0"?>
<launch>
 	<!-- Load the correct topics names dependent on the robot -->
 	<!-- {drone/turtle}_{real/sim}.yaml -->
	<arg name="robot_config" default="turtle_sim.yaml"/>
	<rosparam command="load" file="$(find simulation_supervised)/config/robot/$(arg robot_config)" />  
</launch>