<?xml version="1.0"?>
<launch>
  <!-- Load parameters -->
  <!-- Gazebo with world -->
  <!-- Drone model  -->
  <!-- FSM node -->

  <!-- Oracle: Behavior Arbitration -->

  <!-- Create data -->

  <!-- Visualizations -->
  <!-- Show control -->
  <!-- Show depth prediction -->
  <!-- Keep trajectory -->
</launch>
