<?xml version="1.0"?>
<launch>
  <!-- Define parameters from arguments -->
  <arg name="world_name" default="canyon"/>
  <param name="world_name" value="$(arg world_name)"/>
  <arg name="evaluate" default="false"/> <!-- this parameter is used by rosinterface to ensure the correct model is used -->
  <param name="evaluate" value="$(arg evaluate)"/>

  <!-- Load parameters for environment-->
  <!-- <rosparam command="load" file="$(find simulation_supervised)/config/environment/debug.yaml"/>  -->
  <rosparam command="load" file="$(find simulation_supervised)/config/environment/$(arg world_name).yaml"/> 

  <!-- Load parameters for fsm-->
  <arg name="fsm_config" default="console_fsm"/>
  <rosparam command="load" file="$(find simulation_supervised)/config/fsm/$(arg fsm_config).yaml"/> 
  
  <!-- Gazebo with world -->
  <arg name="gui" default="true"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--use line for spawning world from .dae mesh in gz model folder-->
    <arg name="world_name" value="$(find simulation_supervised_demo)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" default="true"/>
  </include>

  <!-- Turtle robot  -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="Yspawned" default="1.57"/>
  <include file="$(find klaas_robots)/launch/spawn_turtlebot.launch">
    <arg name="x_pos" value="$(arg x)"/>
    <arg name="y_pos" value="$(arg y)"/>
    <arg name="Y_pos" default="$(arg Yspawned)"/>
  </include>
  
  <!-- Console: simple (only overtake and go) -->
  <include file="$(find simulation_supervised_tools)/launch/joy_teleop.launch">
    <arg name="joy_config" value="simple_console"/> 
  </include>
  
  <!-- Control Mapping (should start before fsm) -->
  <node name="control_mapping" pkg="simulation_supervised_tools" type="control_mapping.py" output="screen"/>

  <!-- FSM node -->
  <node name="fsm" pkg="simulation_supervised_tools" type="fsm.py" output="screen"/>

  <!-- Oracle: Depth Heuristic -->
  <node name="depth_heuristic" pkg="simulation_supervised_control" type="depth_heuristic.py" output="screen"/>

  <!-- Drive Back Service -->
  <node name="drive_back" pkg="simulation_supervised_control" type="drive_back.py" output="screen"/>

  <!-- Create data -->

  <!-- Visualizations -->
  <!-- Show control -->
  <!-- Show depth prediction -->
  <!-- Keep trajectory -->



  <!-- Debugging -->
  <!-- add RQT to visualize the changes and avoid the launch to quit -->
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/>
</launch>
