<?xml version="1.0"?>
<launch>
  <!-- start behavior arbitration -->
  <arg name="speed" default="1.3"/>
  <param name="speed" value="$(arg speed)"/>
  <arg name="goal_angle" default="0"/>
  <param name="goal_angle" value="$(arg goal_angle)"/>
  <node name="teleop_autopilot_behaviour_arbitration" pkg="simulation_supervised_control" type="teleop_autopilot_behaviour_arbitration" output="screen" />
</launch>
