<?xml version="1.0"?>
<launch>
  <!-- start behavior arbitration -->
  <arg name="starting_height" default="0.5"/>
  <param name="starting_height" value="$(arg starting_height)"/>
  <arg name="speed" default="1.3"/>
  <param name="speed" value="$(arg speed)"/>
  <arg name="goal_angle" default="0"/>
  <param name="goal_angle" value="$(arg goal_angle)"/>
  <arg name="ba_params_file" default="behavior_arbitration.xml"/>
  <param name="ba_parameters_path" value="$(find simulation_supervised_control)/parameters/$(arg ba_params_file)"/>
  <node name="teleop_autopilot_behaviour_arbitration" pkg="simulation_supervised_control" type="teleop_autopilot_behaviour_arbitration" output="log" />
</launch>
